@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(./assets/fonts/Open_Sans/OpenSans-Regular.ttf),
    url(./assets/fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(./assets/fonts/Lato/Lato-Regular.ttf),
    url(./assets/fonts/Lato/Lato-Bold.ttf);
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes disappear {
  90% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    position: absolute;
    z-index: -1;
  }
}

@keyframes load {
  from {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  to {
    content: "...";
  }
}

::selection {
  background: #2f80ed;
  color: #ffffff;
}

* {
  margin: 0;
  font-family: "Lato";
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

body {
  background: #f2f2f2;
}

.app {
  position: relative;
  height: max-content;
  min-height: 500px;
}

.main {
  position: relative;
}

.wrapper {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;

  li {
    list-style-type: none;
  }
}

button,
a.link_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1em;
  text-transform: capitalize;
}

.btn {
  display: block;
  width: 145px;
  height: 48px;
  background: #f2c94c;
  border: none;
  color: #333333;
  transition-duration: 0.1s;
}

/* remaining from articlePage.css
@import './basic.css';
@import './header.css';
@import './footer.css';
@import './articles.css'; */

/* remaining from index.css
@import './basic.css';
@import './header.css';
@import './footer.css';
@import './articles.css'; */

.loading {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;

  &::before {
    position: relative;
    top: 5px;
    display: inline-block;
    width: 50px;
    height: 50px;
    content: "";
    background: no-repeat center / contain url(./assets/icons/loadcat.gif);
  }

  &::after {
    position: absolute;
    display: inline-block;
    content: "";
    animation: load 1s ease-in-out infinite;
  }
}
