.main {
  .main__articles__wrapper {
    background: #f2f2f2;
    padding: 70px 80px 52px;

    .main__articles__head {
      font-weight: 700;
      font-size: 42px;
      line-height: 56px;
      margin-bottom: 44px;
    }

    .main__articles__search {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 920px;
      height: 62px;
      padding: 0 35px;
      border-radius: 40px;
      background: #ffffff;
      box-shadow: 0px -6px 8px rgba(234, 237, 242, 0.5),
        0px 6px 8px rgba(234, 237, 242, 0.5);
      transition-duration: 0.1s;

      &:hover,
      &:focus-within {
        outline: 3px solid #2f80ed;
      }

      &::before {
        display: inline-block;
        content: "";
        width: 20.5px;
        height: 20.5px;
        margin-right: 19.5px;
        background: center / contain no-repeat
          url(../../assets/icons/search.svg);
      }

      .search__input {
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.0075em;
      }
    }

    .main__articles__checkbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin: 42px 0 40px;
    }

    .articles__list {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 48px 40px;
      width: calc(100% - 80px);
      margin-bottom: 26px;
      min-height: 300px;
      height: 100%;
    }
  }
}
