/* login */
.main__login {
  margin: 280px 0;
  display: grid;
  place-items: center;
  gap: 64px;

  .main__login__head {
    font-size: 60px;
    letter-spacing: -0.01em;
  }

  .main__login__form {
    display: grid;
    gap: 20px;
    max-width: 350px;
    width: 100%;
  }
}
