@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(./assets/fonts/OpenSans/OpenSans-Regular.ttf),
       url(./assets/fonts/OpenSans/OpenSans-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.main {
  display: grid;
  gap: 10px;
  padding-top: 10px;
  grid-template-columns: 0.4fr 0.6fr;

  .wrapper {
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(32, 75, 146, 0.15);
  }
}

.App > .wrapper > * {
  margin: 0 120px;
}

.heading {
  font-size: 18px;
  line-height: 24px;
}