/* article page */
.main {
  .main__paper__wrapper {
    width: 100%;
    height: 100%;
    padding: 48px 144px 76px;
    background: #f2f2f2;
    transition-duration: 0.5s;

    .main__paper {
      height: 100%;

      .paper__pagination {
        margin-bottom: 50px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.0075em;

        .pagination__link {
          cursor: pointer;
          color: #828282;
        }

        span > span {
          display: inline-block;
          margin: 2px 18px 0;
          transform: scaleY(1.3);
        }
      }
    }
  }
}
