.confirm__head,
.confirm__foot {
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    content: "";
    border: 1px solid #ededf0;
  }
}

.confirm__head {

  &::after {
    bottom: 15px;
  }
}

.confirm__body {
  padding-block: 22px 27px;

  .confirm__warning {
    margin-bottom: 24px;
    font-weight: 600;
    color: #f80000;
  }

  .confirm__info {
    margin-bottom: 12px;
  }

  .confirm__dates {
    .item__type {
      margin: 0;
    }
  }
}

.confirm__foot {
  padding-top: 15px;

  .btn {
    border: 1px solid #cccccc;
    border-radius: 3px;

    &.cancel {
      order: 0;
    }
    &.confirm {
      order: 1;
    }
  }

  &::after {
    top: 15px;
  }
}
