.days__wrapper {
  grid-area: 1;
}

.days__head {
  margin: 31px 30px 11px;
}

.days__info {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 14.5px;
  font-size: 13px;
  line-height: 18px;
}

.info__details {
  display: grid;
  place-items: center;
  // width: 100%;
  height: 26px;
  background: #f6f8fd;
  cursor: pointer;
}

.details__title {
  font-size: 10px;
  line-height: 14px;
  color: #afb7bf;

  &::before {
    display: inline-block;
    content: "»";
    margin-right: 8px;
    transform: rotate(90deg);
  }
}
