.form__btn {
  width: 120px;
  height: 36px;
  border-radius: 3px;
  background: #5495ff;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  &.btn_cancel {
    background: inherit;
    color: #225fbf;
  }
}
